<?php header("Access-Control-Allow-Origin: https://marlenagui.phpnet.org, http://localhost:7103"); ?>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Choisissez l'Album</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.marlenagui.com/Photos"><span class="glyphicon glyphicon-home"></span></a></li>
        <!-- Famille-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">FAMILLE<span class="caret"></span></a>
          <!-- sub menu -->
          <ul class="dropdown-menu">
            <li><a href="Evenements-Famille/2017-Chatel/index.html">2017 Weekend Chatel</a></li>
          </ul>
        </li>
        <!-- Amis-->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">AMIS<span class="caret"></span></a>
          <!-- sub menu -->
          <ul class="dropdown-menu">
            <li><a href="https://www.marlenagui.com/Photos">Retour menu accueil</a></li>
          </ul>
        </li>
        <!-- Vacances-->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">VACANCES<span class="caret"></span></a>
          <!-- sub menu -->
          <ul class="dropdown-menu">
            <li><a href="Vacances/2017-StTropez">2017 St Tropez (3 jours fin Octobre)</a></li>
            <li><a href="Vacances/2017-Paris">2017 Paris</a></li>
            <li><a href="Vacances/2017-Futuroscope">2017 Futuroscope</a></li>
          </ul>
        </li>
        <!-- Week Ends-->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WEEKENDS<span class="caret"></span></a>
          <!-- sub menu -->
          <ul class="dropdown-menu">
            <li><a href="Weekends/2017-Chable">2017 Chable</a></li>
            <li><a href="Weekends/2017-Chichilianne">2017 Chichilianne</a></li>
            <li><a href="Weekends/2014-Chable">2014 Chable</a></li>
          </ul>
        </li>


        <!-- Sport -->

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SPORT

          <span class="caret"></span></a>

          <!-- sub menu Trail-->

          <ul class="dropdown-menu">

            <li><a href="Sport/2017-CharmantSom-AreteBerard/index.html">2017 Charmant Som - Arête de Berard</a></li>

            <li><a href="Sport/2017-CirqueStMeme/index.html">2017 Cirque de Saint Même</a></li>

            <li><a href="Sport/2016-GrandSom-Thierry/index.html">2016 Grand Som</a></li>

          </ul>

        </li>



      </ul>

    </div>

  </div>

</nav>

