<html>  
    <head>  
        <title>Glissé déposé pour télécharger des photos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Dropzone -->
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" />
        <script type="text/javascript" src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
         <!-- css fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="static/assets/css/galerieMain.css">

    </head>  
    <body id="index" data-spy="scroll" data-target=".navbar" data-offset="50">
        <!-- insert menu -->
        <div id="menuOnly"></div>
        
        <!-- Container presentation -->

        <div class="bg-1">
            <div class="container text-center">
            <h3>Site pour alimenter la galerie photos de la famille et des amis</h3>
            <p>Pour télécharger des photos il faut avoir une <b>clé valide</b></p>
            <p><em>Si vous ne la connaissez pas demandé à Seb</em></p>
            <p><em>Si vous ne connaissez pas Seb, c'est que vous n'avez rien à faire là :P</em></p>
  
        </div>
  
  </div>
        <div class="container"> 
            <form method="post" action="/uploadFiles" enctype="multipart/form-data">
                {% for message in get_flashed_messages() %}
                <h1>{{message}}</h1>
                {% endfor %}
                <h2>
                    <p> Inserer votre cle: <input name="key" id="key" type="text" oninvalid="setCustomValidity('La clé est requise')" oninput="setCustomValidity('')" required></p><br>
                    <p> Donnes moi ton prénom, comme cela je pourrais te remercier: <input name="firstname" id="firstname" type="text" oninvalid="setCustomValidity('Tu as oublié ton prénom')" oninput="setCustomValidity('')" required></p>
                </h2>
                <h2><input type="submit" value="Continuer" ></h2>
            </form>
            
        </div>
    </body>  
</html> 